body { padding-top: 70px; }

.row-1{
	border-bottom: 1px solid black;
	padding-top: 10px;
	font: bold 17px/21px "Roboto Condensed",sans-serif;
}

.title{
	font: bold 17px/16px "Roboto Condensed",sans-serif;
	color: #f72210;
	text-transform: uppercase;
}

.footer{
	padding:0;
	margin:0;
	font: bold 24px "Roboto Condensed",sans-serif;
	color: #f72210;
	text-transform: uppercase;
}

.float{
	float:right;
}

.borderb{
	clear: left;
	width:100%;
	border-bottom:1px solid gray;
}

.header{text-align: center; 
	width:100%;
	border-bottom: 1px solid gray;
	font: bold 17px/16px "Roboto Condensed",sans-serif;
	color: #f72210;
	text-transform: uppercase;}

#one{
	height:50%;width: 50%; margin: 0 auto;
}

.last{
	border-top: 1px solid gray;
}

ul.check {
	list-style: none;
}

ul li.check:before {
	content: '✓';
}

button{
	background-color: #f72210;
}